:root {
    font-size: 16px
}

* {
    margin: 0;
    padding: 0
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    height: 100%
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Microsoft Jheng Hei", "PingFang", "蘋方", "微軟正黑體", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #010101;
}

body,
html {
    -ms-touch-action: pan-y, pan-x;
    touch-action: pan-y, pan-x;
    -ms-overflow-style: none
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input {
    -webkit-appearance: none;
    /* Safari 和 Chrome，常用於iOS下移除內建樣式 */
    -moz-appearance: none;
    /* FireFox */
    appearance: none;
}

a {
    color: #3b3c3c;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:hover {
    color: #151515;
    text-decoration: none
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none
}

a:not([href]):not([tabindex]):focus {
    outline: 0
}

label {
    display: inline-block;
    margin-bottom: .5rem
}

button {
    border-radius: 0
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem
}

ol ol,
ol ul,
ul ol,
ul ul,
dl ol,
dl ul {
    margin-bottom: 0
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    margin-top: 0;
    word-wrap: break-word
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit
}

h1,
.h1 {
    font-size: 2.5rem;
    line-height: 1
}

h2,
.h2 {
    font-size: 2rem;
    line-height: 1.2
}

h3,
.h3 {
    font-size: 1.75rem;
    line-height: 1.3
}

h4,
.h4 {
    font-size: 1.5rem;
    line-height: 1.4
}

h5,
.h5 {
    font-size: 1.25rem;
    line-height: 1.5
}

h6,
.h6 {
    font-size: 1rem;
    line-height: 1.6
}

p {
    line-height: 1.6
}

#inside-page {
    width: 100vw;
    height: 100vh;
    /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 95);
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start
}

.game-body {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.game-container {
    flex: 1;
    height: 100%;
    position: relative;
    display: block;
    float: right;
}

.game-view {
    width: 370px;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center
}

.game-view2 {
    width: 370px;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center
}

.game-view .view-content {
    width: 350px;
    box-sizing: border-box;
    border: 1px solid white;
    flex: 1;
    background-color: #000614;
}

.game-view2 .view-content {
    width: 350px;
    box-sizing: border-box;
    border: 1px solid white;
    flex: 1;
    background-color: #000614;
    border-radius: 5px;
}

.game-view .user-info {
    width: 350px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.game-view .user-info {
    width: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 110px;
}

.game-view .user-info .info {
    padding-left: 10px;
}

.game-view .user-info .head {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 28px;
    background-image: url("../img/logobg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    border: 3px solid rgba(255, 255, 255, 0.5);
}

.game-view .user-info .info>div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.game-view .user-info .user-account {
    margin-bottom: 4px;
}

.game-view .user-info .info span {
    font-size: 16px;
    color: #e1eef6;
}

.game-view .currency-header {
    width: 350px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 2px solid white;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 42px;
}

.game-view .game-time {
    width: 350px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #747e80;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 42px;
}

.game-view .game-time span {
    font-size: 15px;
    color: #bec2c5;
}

.game-view .currency-header span {
    font-size: 14px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.game-view2 .user-info {
    width: 350px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.game-view2 .user-info {
    width: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 110px;
}

.game-view2 .user-info .info {
    padding-left: 10px;
}

.game-view2 .user-info .head {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 28px;
    background-image: url("/img/logobg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    border: 3px solid rgba(255, 255, 255, 0.5);
}

.game-view2 .user-info .info>div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.game-view2 .user-info .user-account {
    margin-bottom: 4px;
}

.game-view2 .user-info .info span {
    font-size: 16px;
    color: #e1eef6;
}

.game-view2 .currency-header {
    width: 350px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 2px solid white;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 42px;
}

.game-view2 .game-time {
    width: 350px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #747e80;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 42px;
}

.game-view2 .game-time span {
    font-size: 15px;
    color: #bec2c5;
}

.game-view2 .currency-header span {
    font-size: 14px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.currency-header .name {
    width: 116px;
}

.currency-header .price {
    width: 126px;
}

.currency-header .up-down {
    width: 106px;
}

.game-view .currency-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 0;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    -webkit-tap-highlight-color: transparent;
}

/* 实现水波纹效果的小球样式 */

.game-view .currency-item>.ripple-ball {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(255, 255, 255, .5);
    animation: ripple 1s;
}

.game-view2 .currency-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 0;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    -webkit-tap-highlight-color: transparent;
}

/* 实现水波纹效果的小球样式 */

.game-view2 .currency-item>.ripple-ball {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(255, 255, 255, .5);
    animation: ripple 1s;
}

.graph {
    position: relative;
    /* IE is dumb */
    width: 100%;
    /*border: 1px solid #176400;*/
    /*padding: 2px;*/
    background-color: #64001e;
    top: 6px;
    border-radius: 5px;
    display: none;
}

.graph2 {
    display: none;
}

.graph .bar {
    display: block;
    position: relative;
    background: #176400;
    text-align: center;
    color: #333;
    height: 2em;
    line-height: 2em;
    border-radius: 5px 0px 0px 5px;
}

/* 小球动画 */

@keyframes ripple {
    0% {
        transform: scale(2);
    }
    /* 波纹扩张 */
    85% {
        transform: scale(25);
    }
    100% {
        opacity: 0
    }
}

.game-view .currency-item[data-active=true] {
    background-color: #243C5A;
}

.game-view2 .currency-item[data-active=true] {
    background-color: #243C5A;
}

.currency-item div.tit {
    width: 116px;
    font-size: 14px;
    text-align: center;
    color: white;
    padding: 0;
}

.currency-item div.view-item-data {
    width: 126px;
    height: 30px;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    color: white;
    line-height: 30px;
    background-color: #444;
    padding: 0;
}

.currency-item div.view-item-amplitude-new[data-amplitude-new="down"] {
    background-color: rgb(246, 41, 59);
}

.currency-item div.view-item-amplitude-new[data-amplitude-new="up"] {
    background-color: rgb(28, 190, 82);
}

.currency-item span.view-item-amplitude-new {
    width: 106px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding-left: 16px;
    color: white;
}

.currency-item span.view-item-amplitude-new[data-amplitude-new="down"] {
    color: #64001e;
}

.currency-item span.view-item-amplitude-new[data-amplitude-new="down"] .fa::before {
    font-size: 16px;
    padding-right: 2px;
    content: "\f0dd";
    display: inline-block;
    transform: translateY(-3px)
}

.currency-item span.view-item-amplitude-new[data-amplitude-new="up"] {
    color: #3fe40d;
}

.currency-item span.view-item-amplitude-new[data-amplitude-new="up"] .fa::before {
    font-size: 16px;
    padding-right: 2px;
    content: "\f0de";
    display: inline-block;
    transform: translateY(3px)
}

.game-view .view-item {
    color: #fff;
    width: 170px;
    flex: 0 0 170px;
    -ms-flex: 0 0 170px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    padding: 5px 5px 2px 5px
}

.game-view .view-item:not(.active) {
    outline: 2px solid #444444
}

.game-view .view-item h5 {
    display: inline-block;
    font-size: 1rem;
    width: 100%;
    margin-bottom: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Microsoft Jheng Hei", "PingFang", "蘋方", "微軟正黑體", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important
}

.game-view .view-item-data {
    width: 100%;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, "Noto Sans TC", "Microsoft Jheng Hei", "PingFang", "蘋方", "微軟正黑體", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    letter-spacing: 0.5px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 3px 0;
    text-align: left
}

.game-view .view-item-amplitude {
    width: 72%;
    padding: 0 3px;
    text-align: center;
    align-self: center;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip
}

.game-view .view-item-amplitude[data-amplitude="down"] {
    color: red
}

.game-view .view-item-amplitude[data-amplitude="down"] .fa::before {
    font-size: 13px;
    padding-right: 2px;
    content: "\f0dd";
    display: inline-block;
    transform: translateY(-3px)
}

.game-view .view-item-amplitude[data-amplitude="up"] {
    color: green
}

.game-view .view-item-amplitude[data-amplitude="up"] .fa::before {
    font-size: 13px;
    padding-right: 2px;
    content: "\f0de";
    display: inline-block;
    transform: translateY(3px)
}

.game-view2 .view-item {
    color: #fff;
    width: 170px;
    flex: 0 0 170px;
    -ms-flex: 0 0 170px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    padding: 5px 5px 2px 5px
}

.game-view2 .view-item:not(.active) {
    outline: 2px solid #444444
}

.game-view2 .view-item h5 {
    display: inline-block;
    font-size: 1rem;
    width: 100%;
    margin-bottom: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Microsoft Jheng Hei", "PingFang", "蘋方", "微軟正黑體", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important
}

.game-view2 .view-item-data {
    width: 100%;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, "Noto Sans TC", "Microsoft Jheng Hei", "PingFang", "蘋方", "微軟正黑體", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    letter-spacing: 0.5px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 3px 0;
    text-align: left
}

.game-view2 .view-item-amplitude {
    width: 72%;
    padding: 0 3px;
    text-align: center;
    align-self: center;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip
}

.game-view2 .view-item-amplitude[data-amplitude="down"] {
    color: red
}

.game-view2 .view-item-amplitude[data-amplitude="down"] .fa::before {
    font-size: 13px;
    padding-right: 2px;
    content: "\f0dd";
    display: inline-block;
    transform: translateY(-3px)
}

.game-view2 .view-item-amplitude[data-amplitude="up"] {
    color: green
}

.game-view2 .view-item-amplitude[data-amplitude="up"] .fa::before {
    font-size: 13px;
    padding-right: 2px;
    content: "\f0de";
    display: inline-block;
    transform: translateY(3px)
}

.game-body .game-box {
    width: 100%;
    height: calc(100% - 190px);
    position: relative;
    padding: 10px 0 15px 0;
    background-image: url("../img/earth.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.rato {
    display: none;
}

.game-body .game-box .game-name {
    position: absolute;
    top: 10px;
    left: 10px;
    display: block;
    width: 100%;
    font-size: 5rem;
    z-index: -1;
    color: #fff;
    text-align: center;
    opacity: 0.13;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none
}

.game-body .game-box .hover-line-x,
.game-body .game-box .hover-line-y {
    pointer-events: none;
    position: absolute;
    background-color: #747474;
    color: #fff
}

.game-body .game-box .hover-line-x b,
.game-body .game-box .hover-line-x i,
.game-body .game-box .hover-line-y b,
.game-body .game-box .hover-line-y i {
    position: absolute;
    color: #000
}

.game-body .game-box .hover-line-x b:empty,
.game-body .game-box .hover-line-x i:empty,
.game-body .game-box .hover-line-y b:empty,
.game-body .game-box .hover-line-y i:empty {
    opacity: 0
}

.game-body .game-box .hover-line-x b,
.game-body .game-box .hover-line-y b {
    background-color: #777b86
}

.game-body .game-box .hover-line-x {
    left: 0;
    top: -100%;
    height: 1px;
    width: 100%;
    text-align: right;
    transform: translateY(-50%)
}

.game-body .game-box .hover-line-x b,
.game-body .game-box .hover-line-x i {
    right: 0;
    bottom: 0;
    padding: 3px;
    font-size: 10px;
    line-height: 1;
    transform: translateY(40%)
}

.game-body .game-box .hover-line-x i {
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-family: -apple-system, BlinkMacSystemFont, "Noto Sans TC", "Microsoft Jheng Hei", "PingFang", "蘋方", "微軟正黑體", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important
}

.game-body .game-box .hover-line-x b {
    padding-right: 1.15rem
}

.game-body .game-box .hover-line-x b::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    border-top: 8px solid transparent;
    border-right: 8px solid #777b86;
    border-bottom: 8px solid transparent;
    border-left: 8px solid transparent
}

.game-body .game-box .hover-line-y {
    top: 0;
    left: -100%;
    width: 1px;
    height: 100%;
    transform: translateX(50%)
}

.game-body .game-box .hover-line-y b {
    top: 0;
    right: 0;
    white-space: nowrap;
    padding: 3px 3px 0;
    font-size: 11px
}

.game-body .game-box .now-data {
    position: absolute;
    left: 0;
    top: -100%;
    width: 100%;
    height: 0;
    border-top: 1px dashed #fff;
}

.game-body .game-box .now-data b,
.game-body .game-box .now-data i {
    position: absolute;
    right: 0;
    bottom: 0;
    line-height: 1;
    color: #fff;
    transform: translateY(50%)
}

.game-body .game-box .now-data b {
    padding: 5px 1.15rem 3px 3px;
    font-size: 10px;
    background-color: rgba(40, 145, 189, 0.8)
}

.game-body .game-box .now-data b:empty {
    opacity: 0
}

.game-body .game-box .now-data b::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    border-top: 9px solid transparent;
    border-right: 9px solid rgba(40, 145, 189, 0.8);
    border-bottom: 9px solid transparent;
    border-left: 9px solid transparent
}

.game-body .game-box .now-data i {
    font-size: 13px;
    font-weight: 300;
    padding: 1px 3px 3px 3px;
    font-style: normal;
    font-family: -apple-system, BlinkMacSystemFont, "Noto Sans TC", "Microsoft Jheng Hei", "PingFang", "蘋方", "微軟正黑體", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important
}

.game-body #resetZoom {
    color: #fff;
    cursor: pointer;
    height: 60px;
    margin-top: -30px;
    position: absolute;
    right: 0;
    top: 50%;
    transition: all .3s ease;
    width: 0px;
    border: none;
    border-radius: 3px 0 0 3px;
    background-color: rgba(50, 77, 107, 0.72)
}

.game-body #resetZoom i {
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translate(50%, -50%);
    transition: all .3s ease
}

.game-body #resetZoom:focus,
.game-body #resetZoom:active {
    outline: none
}

.game-body #resetZoom.active {
    width: 30px
}

.game-body #resetZoom.active i {
    right: 50%
}

.game-body .control-box {
    width: 100%;
    height: 180px;
    background-color: #2a2a31;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.game-body .lock-form {
    display: none !important;
}

.game-body .control-box .button-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 180px;
    background-color: #000614;
}

.game-body .control-box .button-row .group-merge {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.control-box .group-item1 {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: -40px;
}

.control-box .group-item1 .time-info {
    background-color: #2A2A31;
    border-radius: 4px;
    border: 1px solid #656f7b;
    padding: 5px 10px;
    width: 190px;
    position: relative;
    box-sizing: border-box;
    height: 140px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.control-box .group-item1 .time-info .time-row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 14px
}

.control-box .group-item1 .time-info .time-row span {
    color: #b9b9b9;
    white-space: nowrap;
    font-size: inherit
}

.control-box .group-item1 .time-info .time-row input {
    background-color: transparent;
    border: none;
    padding: 0;
    color: #ffffff;
    width: 70%;
    outline: none;
    font-size: inherit;
    text-align: right
}

.control-box .group-item1 .time-info .time-row .time-box {
    font-size: inherit;
    color: #ffffff
}

.control-box .group-item1 .time-info .time-row .time-box span {
    color: #ffffff
}

.control-box .group-item1 .button-item {
    box-sizing: border-box;
    width: 190px;
    height: 35px;
    margin: 10px 0 0 0;
}

.control-box .group-item1 .button-item label {
    box-sizing: border-box;
    border: 1px solid rgb(101, 111, 123);
    height: 100%;
    color: #b9b9b9;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2A2A31;
}

.control-box .group-item1 .button-item label span {
    color: #b9b9b9;
    font-size: 14px;
}

.control-box .group-item2 {
    /*display: flex;*/
    flex-direction: row;
    ;
    height: 100%;
    margin-left: 5px;
    display: none;
}

.group-item2 .button-item {
    display: flex;
    height: 100%;
    flex-direction: column;
    margin-left: 5px;
}

.group-item2 .button-item label {
    box-sizing: border-box;
    border: 1px solid rgb(101, 111, 123);
    height: 50px;
    color: #000000;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    border-radius: 5px;
    cursor: pointer !important;
    margin: 10px 0 0 0;
    /*background-color: #2150FF;*/
}

.control-box .group-item5 {
    display: block;
    flex-direction: row;
    ;
    height: 110px;
    width: 15%;
    float: left;
    margin-left: 0;
    margin-top: -65px;
    box-sizing: border-box;
    padding: 0 5px;
}

.group-item5 .button-item {
    display: flex;
    height: 100%;
    flex-direction: column;
    margin-left: 5px;
}

.group-item5 .button-item label {
    box-sizing: border-box;
    border: 1px solid rgb(101, 111, 123);
    height: 140px;
    color: #000000;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    border-radius: 5px;
    cursor: pointer !important;
    margin: -2px -2px -2px -2px;
    /*background-color: #2150FF;*/
}

.control-box .group-item6 {
    display: block;
    flex-direction: row;
    ;
    height: 110px;
    width: 15%;
    float: left;
    margin-left: 0;
    margin-top: -65px;
    box-sizing: border-box;
    padding: 0 5px;
}

.group-item6 .button-item .btn-col-3 {
    display: none;
}

.group-item5 .button-item .btn-col-4 {
    display: none;
}

.group-item5 .button-item2 {
    float: right;
    display: none;
}

.group-item6 .button-item2 {
    float: right;
    display: none;
}

.group-item6 .button-item1 {
    display: flex;
    height: 100%;
    flex-direction: column;
    margin-left: 5px;
}

.button-item1 .btn-col-5 {
    background-color: #176400;
}

.button-item1 .btn-col-6 {
    background-color: #64001e;
}

.group-item6 .button-item label {
    box-sizing: border-box;
    border: 1px solid rgb(101, 111, 123);
    height: 140px;
    color: #000000;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    border-radius: 5px;
    cursor: pointer !important;
    margin: -2px -2px -2px -2px;
    /*background-color: #2150FF;*/
}

.graph {
    display: block;
}

.graph2 {
    display: flex;
    width: 100%;
    margin-top: 5px;
    justify-content: space-between;
}

.button-item1 label {
    background-color: #219FFF;
}

.button-item2 label {
    background-color: #2150FF;
}

.button-item button {
    width: 100%;
}

.group-item2 .button-item label span {
    color: #000000;
    font-size: 14px;
}

.group-item5 .button-item label span {
    color: #000000;
    font-size: 18px;
}

.group-item6 .button-item label span {
    color: #000000;
    font-size: 18px;
}

.control-box .group-item3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 110px;
    margin-left: 5px;
}

.control-box .group-item3 label {
    width: 110px;
    transition: transform ease .3s;
    box-sizing: border-box;
    height: 110px;
    margin: 0;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.control-box .group-item3 label.btn-up {
    background-image: linear-gradient(to bottom, #4fc83d 0%, #3da44f 100%);
}

.control-box .group-item3 label.btn-down {
    background-image: linear-gradient(to bottom, #ff3e1f 0%, #f1372e 100%);
}

.control-box .group-item3 label.btn-up span,
.control-box .group-item3 label.btn-up i {
    font-size: 20px;
    color: #000;
    font-style: normal;
    padding: 5px 0;
    font-weight: 600;
}

.control-box .group-item3 label.btn-down span,
.control-box .group-item3 label.btn-down i {
    font-size: 20px;
    color: #000;
    font-style: normal;
    padding: 5px 0;
    font-weight: 600;
}

.control-box .money-rank {
    width: 180px;
    transition: transform ease .3s;
    margin-left: 0px;
    height: 140px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.control-box .money-rank .rank-box {
    background-color: #2A2A31;
    border: 1px solid #656f7b;
    border-radius: 0 0 4px 4px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    position: relative;
    box-sizing: border-box;
    height: 40px;
}

.control-box .money-rank .rank-box input {
    width: 100%;
    background-color: transparent;
    border: none;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Noto Sans TC", "Microsoft Jheng Hei", "PingFang", "蘋方", "微軟正黑體", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    letter-spacing: 0.5px;
    font-weight: bold;
    font-size: 1rem;
    padding: 7px 35px;
    color: #fff
}

.control-box .money-rank .rank-box input:focus,
.control-box .money-rank .rank-box input:active {
    outline: none
}

.control-box .money-rank .rank-box button {
    background-color: transparent;
    color: #fff;
    border: none;
    width: 32px;
    font-size: 18px;
    font-weight: normal;
    cursor: pointer;
    transition: all ease .2s;
    position: absolute;
    top: 0;
    bottom: 0;
    line-height: 48px;
    text-align: center;
    cursor: pointer !important;
}

.control-box .money-rank .rank-box button.less {
    left: 0;
}

.control-box .money-rank .rank-box button.add {
    right: 0
}

.control-box .money-rank .rank-box button:focus,
.control-box .money-rank .rank-box button:active {
    outline: none
}

.control-box .money-speed {
    width: 180px;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-between;
    border-radius: 4px 4px 0 0;
    border: 1px solid #656f7b;
    border-bottom: 0;
    background-color: #2A2A31;
    transition: transform ease .3s;
    overflow: hidden;
    box-sizing: border-box;
    height: 100px;
}

.control-box .money-speed button {
    width: 50%;
    font-size: 12px;
    white-space: nowrap;
    border: none;
    background-color: transparent;
    color: #ffffff;
    border-bottom: 1px solid #656f7b;
    cursor: pointer;
    padding: 2px 0;
    outline: none
}

.control-box .money-speed button:hover {
    background-color: #2A2A31
}

.control-box .money-speed button:nth-of-type(odd) {
    border-right: 1px solid #656f7b
}

.submit-group {
    width: 170px;
    height: 140px;
    display: flex;
    /*display: none;*/
    flex-direction: column;
    margin: 0 10px;
    margin-bottom: 40px;
}

.control-box .button-row .bet-submit {
    flex: 1;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: -apple-system, BlinkMacSystemFont, "Microsoft Jheng Hei", "PingFang", "蘋方", "微軟正黑體", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    font-weight: bold;
    padding: 10px 0;
    border: 1px solid rgba(231, 206, 69, 0.9);
    color: #c9b545;
    background-color: rgba(85, 84, 59, 0.7);
    transition: all ease .2s;
    cursor: pointer;
}

.control-box .bet-submit:hover {
    background-color: rgba(115, 114, 80, 0.7)
}

.control-box .bet-submit:focus,
.control-box button[type="submit"]:active {
    outline: none
}

.game-body .control-box #game-1:checked~.button-row label[for="game-1"].btn-col-2 {
    box-shadow: inset 0 0 10px #656f7b;
    background-color: #525359
}

.game-body .control-box #game-2:checked~.button-row label[for="game-2"].btn-col-2 {
    box-shadow: inset 0 0 10px #656f7b;
    background-color: #525359
}

.game-body .control-box #game-3:checked~.button-row label[for="game-3"].btn-col-2 {
    box-shadow: inset 0 0 10px #656f7b;
    background-color: #525359
}

.game-body .control-box #game-4:checked~.button-row label[for="game-4"].btn-col-2 {
    box-shadow: inset 0 0 10px #656f7b;
    background-color: #525359
}

.game-body .control-box #game-5:checked~.button-row label[for="game-5"].btn-col {
    box-shadow: 0 0 15px #cc0
}

.game-body .control-box #game-5:checked~.button-row label[for="game-5"].btn-col.btn-up {
    background-image: linear-gradient(to bottom, #45b734 0%, #369146 100%);
    color: #1f5218
}

.game-body .control-box #game-5:checked~.button-row label[for="game-5"].btn-col.btn-down {
    background-image: linear-gradient(to bottom, #ff3515 0%, #f02e24 100%);
    color: #861200
}

.game-body .control-box #game-6:checked~.button-row label[for="game-6"].btn-col {
    box-shadow: 0 0 15px #cc0
}

.game-body .control-box #game-6:checked~.button-row label[for="game-6"].btn-col.btn-up {
    background-image: linear-gradient(to bottom, #45b734 0%, #369146 100%);
    color: #1f5218
}

.game-body .control-box #game-6:checked~.button-row label[for="game-6"].btn-col.btn-down {
    background-image: linear-gradient(to bottom, #ff3515 0%, #f02e24 100%);
    color: #861200
}

.game-body .control-box #game-7:checked~.button-row label[for="game-7"].btn-col-2 {
    box-shadow: inset 0 0 10px #656f7b;
    background-color: #525359
}

.game-body .control-box #game-8:checked~.lock-row label[for="game-8"].btn-col {
    box-shadow: 0 0 15px #cc0
}

.game-body .control-box #game-8:checked~.lock-row label[for="game-8"].btn-col.btn-up {
    background-image: linear-gradient(to bottom, #45b734 0%, #369146 100%);
    color: #1f5218
}

.game-body .control-box #game-8:checked~.lock-row label[for="game-8"].btn-col.btn-down {
    background-image: linear-gradient(to bottom, #ff3515 0%, #f02e24 100%);
    color: #861200
}

.game-body .control-box #game-9:checked~.lock-row label[for="game-9"].btn-col {
    box-shadow: 0 0 15px #cc0
}

.game-body .control-box #game-9:checked~.lock-row label[for="game-9"].btn-col.btn-up {
    background-image: linear-gradient(to bottom, #45b734 0%, #369146 100%);
    color: #1f5218
}

.game-body .control-box #game-9:checked~.lock-row label[for="game-9"].btn-col.btn-down {
    background-image: linear-gradient(to bottom, #ff3515 0%, #f02e24 100%);
    color: #861200
}

.cover {
    flex: 1;
    display: none !important;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #000614;
}

.cover.active {
    display: flex !important;
    opacity: 1;
    visibility: visible;
    pointer-events: painted
}

.cover .cover-box {
    position: absolute;
    right: 20%;
    top: 30%;
    transform: translateY(-50%);
    width: 30%
}

.cover .cover-box h4 {
    font-size: 3.5rem;
    color: #6c757d;
    font-family: -apple-system, BlinkMacSystemFont, "Microsoft Jheng Hei", "PingFang", "蘋方", "微軟正黑體", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    font-weight: bold;
    line-height: 1.2
}

.cover .cover-box h4 span {
    display: block;
    font-size: 55%;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Noto Sans TC", "Microsoft Jheng Hei", "PingFang", "蘋方", "微軟正黑體", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    letter-spacing: 1px;
    transform: scaleY(0.9)
}

/*@media screen and (max-width: 1024px) {*/

/*    .cover .cover-box h4 {*/

/*        font-size: 3rem*/

/*    }*/

/*}*/

.cover .cover-box .cover-text {
    border: 5px solid #6c757d;
    border-radius: 5px;
    padding: 1rem;
    width: 100%;
    margin-top: 2rem;
    color: #6c757d;
    font-family: -apple-system, BlinkMacSystemFont, "Noto Sans TC", "Microsoft Jheng Hei", "PingFang", "蘋方", "微軟正黑體", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    position: relative
}

.cover .cover-box .cover-text h5 {
    position: absolute;
    top: -25%;
    left: 10px;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1;
    margin: 0;
    background-color: #6c757d;
    color: #212529;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 3px
}

.cover .cover-box .cover-text p {
    font-size: 1.05rem;
    line-height: 1.3;
    font-weight: 500;
    margin-top: 0.4rem;
    margin-bottom: 0;
    letter-spacing: 0.5px
}

.game-view-mobile {
    width: 100%;
    float: left;
    height: 62px;
    overflow-y: hidden;
    overflow-x: auto;
    background-color: #000614;
    display: none;
}

.game-view-mobile-container {
    width: 100%;
    min-width: 780px;
    height: 100%;
}

.game-view-mobile .currency-item {
    display: block !important;
    width: 120px;
    box-sizing: border-box;
    float: left;
    background-color: #2A2A31;
    height: 100%;
    margin: 0 0 0 10px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid rgba(101, 111, 123, 1);
    padding: 3px 0;
}

.game-view-mobile .currency-item>div,
.game-view-mobile .currency-item>span {
    display: block;
    width: 100%;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    padding: 0 !important;
}

.game-view-mobile .currency-item div.view-item-data {
    width: 100%;
    border-radius: 4px;
    font-size: 12px;
    text-align: center;
    color: white;
    background-color: transparent !important;
}

.game-view-mobile .currency-item div.view-item-amplitude-new[data-amplitude-new="down"] {
    background-color: transparent !important;
}

.game-view-mobile .currency-item div.view-item-amplitude-new[data-amplitude-new="up"] {
    background-color: transparent !important;
}

.game-view-mobile .currency-item span.view-item-amplitude-new {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
}

.game-view-mobile .currency-item[data-active=true] {
    background-color: #243C5A !important;
}

.game-body .rank-box .arrow-speed {
    width: 22px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    display: none;
}

.game-body .rank-box .arrow-speed img {
    width: 18px;
    height: 18px;
}

.game-body .rank-box .arrow-speed.active img {
    transform: rotate(180deg);
}

@media screen and (max-width: 1024px) {
    .cover .cover-box {
        right: 0;
        top: 30%;
        transform: translateY(-50%);
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
    }
    .cover .cover-box h4 {
        font-size: 40px;
    }
    .cover .cover-box h4 span {
        font-size: 25px;
    }
}

@media(max-width:1651px) {
    .game-view2 .view-content {
        width: auto;
    }
    .game-container {
        max-width: 56vw;
    }
}

@media(max-width:1367px) {
    .game-view2 .view-content {
        width: auto;
    }
    .game-container {
        max-width: 100vw;
    }
}

/* 投注操作面板 */

@media screen and (max-width: 930px) {
    .rato {
        display: none;
    }
    .rato2 {
        display: none;
    }
    .game-body .game-box {
        padding-bottom: 0;
        height: calc(100% - 120px);
    }
    .game-body .control-box {
        width: 100%;
        height: 300px;
    }
    .game-body .control-box .button-row {
        width: 100%;
        display: block;
        height: 150px;
    }
    .control-box .group-item1 {
        width: 100%;
        float: left;
        margin-left: 0;
    }
    .control-box .group-item1 .time-info {
        background-color: rgb(42, 42, 49);
        width: 100%;
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .control-box .group-item1 .time-info .time-row1 {
        width: 50%;
        justify-content: flex-start;
    }
    .control-box .group-item1 .time-info .time-row2 {
        width: 50%;
        justify-content: flex-end;
    }
    .control-box .group-item1 .time-info .time-row span {
        padding-right: 10px;
    }
    .control-box .group-item2 {
        display: none;
        flex-direction: row;
        ;
        height: 110px;
        width: 30%;
        float: left;
        margin-left: 0;
        margin-top: 5px;
        box-sizing: border-box;
        padding: 0 5px;
    }
    .control-box .group-item6 {
        display: block;
        flex-direction: row;
        ;
        height: 110px;
        width: 30%;
        float: left;
        margin-left: 0;
        margin-top: 7px;
        box-sizing: border-box;
        padding: 0 5px;
    }
    .control-box .group-item5 {
        display: block;
        flex-direction: row;
        ;
        height: 110px;
        width: 30%;
        float: left;
        margin-left: 0;
        margin-top: 7px;
        box-sizing: border-box;
        padding: 0 5px;
    }
    .group-item2 .button-item {
        display: block;
        height: 100%;
        margin: 0;
        width: 100%;
        float: left;
    }
    .group-item5 .button-item {
        display: block;
        height: 100%;
        margin: 0;
        width: 100%;
        float: left;
    }
    .group-item6 .button-item {
        display: block;
        height: 100%;
        margin: 0;
        width: 100%;
        float: left;
    }
    .button-item-full {
        width: 100% !important;
    }
    .group-item2 .button-item2 {
        float: right;
        display: none;
    }
    .group-item2 .button-item label {
        box-sizing: border-box;
        border: 1px solid rgb(101, 111, 123);
        height: 105px;
        color: #000000;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        border-radius: 5px;
        cursor: pointer !important;
        margin: 0 0 5px 0;
        /*background-color: #2150FF;*/
    }
    .group-item6 .button-item .btn-col-3 {
        display: none;
    }
    .group-item5 .button-item .btn-col-4 {
        display: none;
    }
    .group-item5 .button-item2 {
        float: right;
        display: none;
    }
    .group-item5 .button-item label {
        box-sizing: border-box;
        border: 1px solid rgb(101, 111, 123);
        height: 105px;
        color: #000000;
        font-size: 22px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        border-radius: 5px;
        cursor: pointer !important;
        margin: -2px -2px -2px -2px;
        /*background-color: #2150FF;*/
    }
    .group-item6 .button-item2 {
        float: right;
        display: none;
    }
    .group-item6 .button-item label {
        box-sizing: border-box;
        border: 1px solid rgb(101, 111, 123);
        height: 105px;
        color: #000000;
        font-size: 22px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        border-radius: 5px;
        cursor: pointer !important;
        margin: -2px -2px -2px -2px;
        /*background-color: #2150FF;*/
    }
    .control-box .group-item1 {
        /*display: flex;*/
        /*flex-direction: column;*/
        /*margin-left: 10px;*/
        margin-top: 0px;
    }
    .button-item1 label {
        background-color: #219FFF;
    }
    .button-item button {
        width: 100%;
    }
    .button-item1 .btn-col-5 {
        background-color: #176400;
    }
    .button-item1 .btn-col-6 {
        background-color: #64001e;
    }
    .button-item2 label {
        background-color: #2150FF;
    }
    .game-body .control-box .button-row .group-merge {
        display: flex;
        flex-direction: column;
        height: 80%;
        align-items: flex-start;
        float: left;
        width: 38%;
    }
    .control-box .group-item3 {
        /*display: flex;*/
        display: none;
        flex-direction: row;
        align-items: center;
        height: 50px;
        width: 100%;
        justify-content: space-between;
        margin-left: 0;
    }
    .control-box .group-item3 label {
        width: 49%;
        box-sizing: border-box;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: transform 0.3s ease 0s;
        margin: 0px 0px 0px 0px;
        padding: 0;
    }
    .control-box .group-item3 label span,
    .control-box .group-item3 label i {
        font-size: 16px !important;
        color: #000;
        font-style: normal;
        padding: 0 !important;
        font-weight: 400;
    }
    .control-box .money-rank {
        width: 100%;
        transition: transform ease .3s;
        margin-left: 0px;
        height: 50px;
        display: block;
        float: left;
        flex-direction: column;
        margin-top: 5px;
        position: relative;
        margin-bottom: 0px;
    }
    .control-box .money-rank .rank-box {
        border: 1px solid #656f7b;
        border-top: 1px solid #656f7b;
        border-radius: 4px 4px 0 0;
        height: 52px;
    }
    .submit-group {
        width: 100%;
        height: 50px;
        display: block;
        /*display: none;*/
        float: left;
        margin: 5px 0 0 0%;
    }
    .graph {
        display: block;
    }
    .graph2 {
        display: flex;
        width: 100%;
        margin-top: 5px;
        justify-content: space-between;
    }
    .submit-group .bet-submit {
        width: 100%;
        height: 100%;
    }
    .control-box .money-rank .rank-box input {
        text-align: center;
        letter-spacing: 0.5px;
        font-weight: bold;
        font-size: 14px;
        padding: 0 0 0 20px;
        color: #fff
    }
    .control-box .money-rank .rank-box button {
        display: none;
    }
    .control-box .money-rank .btn-mobile {
        width: 100%;
        height: 25px;
        box-sizing: border-box;
        border: 1px solid #656f7b;
        border-top: none;
        border-radius: 0px 0px 4px 4px;
        display: flex !important;
        flex-direction: row;
        align-items: center;
    }
    .control-box .money-rank .btn-mobile span {
        width: 50%;
        background-color: #2A2A31 !important;
        height: 100%;
        text-align: center;
        color: white;
        font-size: 16px;
        font-weight: bold;
        line-height: 24px;
        cursor: pointer;
        border-right: 1px solid #656f7b;
    }
    .control-box .money-rank .btn-mobile span.add {
        border-right: none;
    }
    .control-box .money-speed {
        width: 100%;
        height: 0px;
        position: absolute;
        left: 0;
        /*bottom: 52px;*/
        transition: 0.3s;
        overflow: hidden;
        opacity: 0;
        border-radius: 4px;
    }
    .control-box .money-speed.active {
        height: 100px;
        opacity: .99;
        z-index: 9999;
        /*position: relative;*/
    }
    .game-body .rank-box .arrow-speed {
        display: flex !important;
    }
}

@media screen and (max-width: 600px) {
    .rato {
        display: none;
    }
    .game-body .game-box .game-name {
        font-size: 2rem;
    }
}

@media screen and (max-width: 330px) {
    .game-body .control-box .time-info {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .control-box .group-item1 .time-info .time-row span {
        padding-right: 5px !important;
    }
    .control-box .group-item1 .time-info .time-row1 {
        width: 56%;
    }
    .control-box .group-item1 .time-info .time-row2 {
        width: 44%;
    }
}