@font-face {
    font-family: "Tahoma";
    src: url(../fonts/Tahoma.ttf);
    font-display: swap;
}

body {
    font-family: 'Tahoma', "Segoe UI", 'Noto Sans TC', sans-serif, "Lucida Grande", Helvetica, Arial, Verdana;
    color: #082435;
    position: relative;
    letter-spacing: 1px;
    background-color: #fff;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

div {
    box-sizing: border-box;
}

a {
    display: block;
    color: #fff;
    text-decoration: none;
    transition: color .5s ease-in-out;
}

a:hover,
a:active,
a.active {
    color: #fff;
    text-decoration: none;
}

input,
select,
textarea,
.userphone,
#bank-account,
#bank-name {
    height: 40px;
    padding: 0 8px;
    background-color: #ececec;
    border: 1px solid #cacaca;
    border-radius: 5px;
    color: #333;
    border-radius: 5px;
}

input,
select {
    width: 100%;
    margin-top: 0;
    box-sizing: border-box;
}

textarea {
    height: 300px;
    width: calc(100% - 19px);
    overflow-y: scroll;
    padding: 8px;
}

option {
    width: 50px !important;
}

input[placeholder],
[placeholder],
*[placeholder] {
    font: 400 15px 'Tahoma';
}

input[type="file"] {
    background-color: transparent;
    border: none;
    padding: 0;
    height: 40px;
    padding: 7px 0px;
    box-sizing: border-box;
}

.input-block {
    margin: 10px 0;
}

input:disabled {
    background-color: #e1e1e1;
}

label {
    color: #333 !important;
    margin-bottom: 0;
    box-sizing: border-box;
}

/* 輸入框點擊後外框顏色 */

input:focus,
textarea:focus {
    border: 1px solid rgba(253, 150, 26, .9) !important;
    box-shadow: 0 0 3px rgba(253, 150, 26, .9) !important;
    -moz-box-shadow: 0 0 3px rgba(253, 150, 26, .9) !important;
    -webkit-box-shadow: 0 0 3px rgba(253, 150, 26, .9) !important;
}

input:focus,
textarea:focus,
select:focus {
    outline-offset: 0px !important;
    outline: none !important;
}

span {
    font-size: 15px;
    color: #ad0000;
    letter-spacing: 1px;
}

button:focus {
    outline: none;
}

.btn {
    padding: 5px 20px !important;
    background-color: transparent;
    border: 1px solid #080707;
    transition: all .5s ease-in-out;
    cursor: pointer;
    color: #080707 !important;
    border-radius: 5px;
}

.btn:hover,
.btn:active {
    background-color: #000b19;
    color: #fff !important;
}

.btn1 {
    padding: 15px 35px !important;
    background-color: #cc3d39 !important;
    border: none;
    color: #fdef03;
    font-weight: bold;
    transition: all .5s ease-in-out;
    cursor: pointer;
    border-radius: 5px;
}

.btn1:hover,
.btn1:active {
    background-color: #cc3d39 !important;
    color: #fff;
}

.btn2 {
    padding: 10px 25px !important;
    background-color: transparent !important;
    border: 1px solid #43a8ff !important;
    color: #43a8ff !important;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.btn2:hover,
.btn2:active {
    background-color: #43caff !important;
    color: #fff !important;
}

.btn3 {
    padding: 10px 25px !important;
    background-color: transparent !important;
    border: 1px solid #FF880E !important;
    color: #FF880E !important;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.btn3:hover,
.btn3:active {
    background-color: #cc3d39 !important !important;
    color: #fff !important;
}

#content1 img {
    max-width: 300px;
    margin-top: 20px;
}

.submit {
    width: 100%;
}

.btn-store {
    margin-top: 10px;
}

.font-green {
    color: #068485;
}

.display-flex {
    display: flex;
}

img {
    width: 100%;
    z-index: 1;
    object-fit: contain;
}

.hidden {
    display: none !important;
}

.label-success {
    color: #228522;
}

.marquee-text a {
    color: #000;
    display: inline-block;
    font-size: 14px;
}

.marquee-text a:not(:last-child) {
    margin-right: 10px;
}

.content {
    padding-left: 15px;
    padding-right: 15px;
}

.footer {
    font-size: 11px;
    background: #222222;
    padding: 1em 0;
    z-index: 0;
    text-align: center;
    color: #fff;
}

.input-group {
    margin: 10px 0;
}

@media screen and (max-width:1024px) {
    .footer {
        display: none;
    }
    nav .logo img {
        max-height: 45px;
    }
}

/*================================================*/

/* nav */

nav {
    /* height: 60px; */
    background: #181818;
    /* padding: 10px 0 5px 0; */
    width: 100%;
    justify-content: space-around;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
}

nav .content {
    display: flex;
    padding: 10px 30px;
    flex-direction: row-reverse;
    /* float: right; */
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    width: 100px;
    display: flex;
    align-items: center;
}

/*================================================*/

/* mobile-menu */

.mobile-menu {
    color: #43a8ff;
    font-size: 20px;
}

.mobile-menu i {
    color: #fff;
    font-size: 20px;
}

/*================================================*/

/* web-user-icon */

nav .web-user-icon {
    display: none;
}

/*================================================*/

/* mobile-link-block */

.mobile-link-block {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    top: -100vh;
    bottom: 0;
    background: #272727;
    text-align: center;
    transition: all .3s ease-in-out;
    z-index: 999;
}

.mobile-link-block.show {
    top: 0;
}

.mobile-link-block .close-icon {
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ff9100;
    padding: 15px;
}

.mobile-link-block .link-block {
    padding-top: 60px;
}

.mobile-link-block .link-block a {
    /* color: #fff; */
    font-size: 18px;
    padding: 10px 0;
}

.mobile-link-block .link-block .btn {
    width: 125px;
    margin: 10px auto;
    border-color: #cc3d39;
    color: #cc3d39 !important;
}

.web-link-block {
    display: none;
}

.container {
    max-width: 1300px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

.title-block,
.title-block-1 {
    background-color: #cc3d39 !important;
    padding: 6px 3px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.title-block-1 {
    margin-top: 30px;
    margin-bottom: 10px;
}

.title-block p,
.title-block-1 {
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    padding-left: 12px;
}

.title-block-1 {
    font-size: 16px;
}

.main-block {
    padding-top: 14px;
    padding-bottom: 30px;
}

.block {
    background-color: #F7FBFE;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 3px 10px #000000a8;
    min-height: 450px;
}

#saveChange {
    text-align: left;
}

.block .btn1 {
    max-width: 180px;
}

#warning {
    margin-top: 15px;
    padding: 10px;
    background: #dadada;
    border-radius: 10px;
    font-size: 14px;
}

#warning h4 {
    font-size: 16px;
    background-color: #575757;
    border-radius: 8px;
    color: white;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.member-list {
    font-size: 14px;
}

.redditList {
    padding-top: 40px;
    max-width: 1300px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

.web-pagination-block {
    display: none;
}

.left-block {
    padding-top: 30px;
}

.stats-info-agileits {
    margin: 0 auto;
    border-radius: 5px;
}

.stats-info-agileits .member-image {
    width: 60px;
    margin: 0 auto;
}

.stats-info-agileits .member-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    margin-bottom: 5px;
    border-bottom: 1px solid #d1d1d1;
}

.stats-info-agileits .member-bottom {
    text-align: center;
}

.member-bottom h1 {
    font-size: 22px;
}

.stats-info-agileits .member-bottom h4 {
    color: #5f1a29;
}

.stats-info-agileits .member-bottom h1 {
    color: #cc3d39 !important;
}

/*================================================*/

/* right-block */

/*================================================*/

/* market-updates */

.market-updates {
    border-radius: 15px;
    margin-top: 15px;
}

.market-updates h4 {
    font-size: 16px;
}

.market-update-block {
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    height: 100%;
}

.market-update-right {
    width: 80px;
}

/* .market-update-right img {
    filter: drop-shadow(0 2px 7px #000000b0);
} */

.market-update-left {
    margin-left: 10px;
}

.market-update-left .timer {
    color: #cc3d39 !important;
    font-size: 22px;
    /* text-shadow: 0 2px 8px #000000; */
}

/*================================================*/

/* news-block */

.news-block {
    margin: 15px 0;
    display: flex;
    height: 50px;
    padding: 0 15px;
    background-color: #fff;
    border-radius: 5px;
    border: solid thin #ebebeb;
}

.box_right.box_item iframe {
    width: 100%;
}

.box_right.box_item .tradingview-widget-container,
.box_right.box_item .tradingview-widget-container iframe {
    width: 100% !important;
    margin-top: 0 !important;
}

.news-left {
    display: none;
}

.news-left img {
    width: 50px;
}

.news-right {
    width: 100%;
    overflow: hidden;
}

marquee {
    width: 100%;
}

@keyframes moveX {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.marquee-text,
.top {
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
    align-items: start;
    overflow: hidden;
    animation: moveX 7s 0.5s linear infinite;
    animation-fill-mode: forwards;
}

.news-block h4,
.marquee-text {
    line-height: 3.5;
    font-size: 6px;
    color: #cc3d39 !important;
}

/* .marquee-text a {
    color: #ffffff;
} */

/*================================================*/

/* transaction-item */

.transaction-item {
    margin: 15px 0;
    padding: 15px;
    /* box-shadow: 0px 3px 10px #000000a8;
    border-radius: 10px; */
    /* border-left: 2px solid #43a8ff; */
}

.game-item-block {
    background-color: #33a3ffce;
    padding: 15px;
    text-align: center;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.game-item-block .img-01 {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-image: url(../../img/impe/11.html);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.game-item-block:hover {
    background-color: #43caff;
}

.game-item-block:hover .img-01 {
    background-image: url(../../img/impe/11-hover.html);
}

.game-item-block:hover h4 {
    color: #fff !important;
}

.trading-center {
    margin: 15px 0;
    background-color: #f7f7f7;
    border-radius: 5px;
    padding: 15px;
    border: solid thin #ebebeb;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.15);
}

.trading-center-block .introduction-content h4 {
    color: #6ecaff;
    margin-bottom: 5px;
    text-align: center;
    font-size: 18px;
}

.trading-center-block .introduction-content p {
    margin-bottom: 15px;
    font-size: 12px;
}

.trading-center-block .introduction-btn {
    text-align: center;
}

/*================================================*/

/* member */

#memCell {
    position: relative;
}

.validLabel {
    position: absolute;
    bottom: 11px;
    right: 10px;
}

/*================================================*/

.resend_form {
    text-align: center;
}

/* 獲取驗證碼 */

.btn-verification {
    max-width: 200px;
    height: 50px;
    padding: 0 1em;
    background-color: #15b106;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    box-shadow: unset;
    margin: 0;
    color: #fff !important;
}

.btn-verification:hover {
    background-color: #59d44d !important;
    color: white !important;
    box-shadow: unset;
}

/*================================================*/

/* 資產轉移 */

.button-group {
    margin-bottom: 15px;
}

.member-list>ul>li:first-child {
    display: none;
}

.member-list>ul>li {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 15px;
    border: 1px solid #b1b1b1;
    margin-bottom: 10px;
}

.member-list>ul {
    border-color: transparent;
}

.member-list>ul>li {
    display: block;
}

.w-10,
.w-20,
.w-30,
.w-40,
.w-50,
.w-60,
.w-70,
.w-80 {
    width: 100%;
}

.member-list>ul>li>div:before {
    display: inline-block;
    font-weight: bold;
}

.member-list>ul>li>div[field="provider_name"]:before {
    content: "NGÀY ĐẶT ĐƠN:";
}

.member-list>ul>li>div[field="provider_currency"]:before {
    content: "CHI TIẾT :";
}

.member-list>ul>li>div[field="game_balance_format"]:before {
    content: "交易資金 :";
}

.member-list>ul>li>div[field="game_acc_and_pwd"]:before {
    content: "交易帳密 :";
}

.member-list .Signout-button-2 {
    margin-top: 15px;
}

/*================================================*/

/* bank */

.bank-img {
    max-width: 600px;
}

/*================================================*/

/* record */

#accountItem a {
    padding: 10px;
    text-align: center;
    border: 1px solid #4e4e4e;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: all .5s ease-in-out;
    color: #4e4e4e;
}

#accountItem a:hover {
    border: 1px solid #cc3d39 !important;
    color: #cc3d39 !important;
}

#accountItem a.active {
    background-color: #cc3d39 !important;
    color: #fff;
    border: 1px solid #cc3d39 !important;
}

/*================================================*/

/* 上下頁 */

.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.pagination li {
    /* font-size: 15px; */
    padding-right: 8px;
}

.pagination li a {
    color: #333333;
    font-size: 14px;
    padding: 0 8px;
    border-radius: 8px;
}

.pagination li a:hover {
    background: #ffeaa6;
}

.pagination li span {
    padding: 3px 8px;
}

.pagination li.disabled span {
    color: #8d8d8d;
    font-size: 14px;
    pointer-events: none;
    padding: 3px 8px;
}

/*================================================*/

/* NẠP TIỀN */

.member-list>ul>li>div[field="order_date"]:before {
    content: " NGÀY ĐẶT ĐƠN :";
}

.member-list>ul>li>div[field="order_money"]:before {
    content: "金額 :";
}

/*================================================*/

/* 客服中心 */

#content1 .text {
    margin-top: 30px;
    text-align: left;
}

/*================================================*/

/* 最新消息 */

.bullet {
    cursor: pointer;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2%;
    padding: 1em;
    background-color: #e2e2e2;
    text-align: left;
    border-radius: 10px;
}

.product-item-img {
    margin: 0;
    overflow: hidden;
    margin-bottom: 15px;
    height: auto;
}

.product-item-intro-title {
    font-size: 26px;
    color: #0d3259;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
}

.redditList.agileinfo .content,
.agileinfo-grap-2,
.product-item-img img,
.redditList.agileinfo .content .main-block,
.redditList.agileinfo .content .block,
.redditList.agileinfo .content .block>div {
    height: 100%;
}

.product-item-img img {
    object-fit: cover;
}

.product-item-intro-text {
    color: #333;
    max-height: 200px;
    overflow-y: auto;
    text-align: left;
    font-size: 14px;
}

.product-item-intro-text p {
    margin: 0;
}

.introduction-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.introduction-content .currency-value {
    width: 33%;
    padding: 10px;
    text-align: center;
    color: #000;
    cursor: pointer;
}

.introduction-content .currency-value:hover {
    background-color: #ececec;
}

.introduction-content .currency-value img {
    width: 60%;
}

/* event */

#event .content-title-block {
    display: none;
}

#event .article {
    padding: 10px 0;
    border-bottom: 1px solid #c5c5c5;
}

#event .article .w-1 {
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;
}

#event .article .w-1 .title {
    width: 50px;
}

#event .article .w-1 .text {
    width: calc(100% - 50px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#event .article .w-2 {
    color: #909090;
}

#event .drop-down-content {
    display: none;
    background-color: #e6e6e6;
    padding: 15px;
    margin-top: 10px;
}

#event .drop-down-content.show {
    display: block;
}

.member-icon {
    height: unset !important;
    background: transparent !important;
    width: 43% !important;
}

@media screen and (min-width:425px) {
    .introduction-content .currency-value {
        width: 33.3333333%;
    }
}

@media screen and (min-width:768px) {
    .market-updates {
        display: flex;
    }
    .market-update-gd {
        width: 100%;
    }
    /*================================================*/
    .news-left {
        display: flex;
        align-items: center;
        width: 180px;
    }
    .news-left img {
        width: 35px;
        height: 35px;
    }
    .news-left h4 {
        margin-left: 10px;
    }
    /*================================================*/
    .trading-center-block {
        display: flex;
    }
    .trading-center-block img {
        width: 40%;
    }
    .trading-introduction {
        width: 100%;
        /* padding-left: 20px; */
    }
    /* .introduction-content {
        width: 50%;
        padding-left: 30px;
    } */
    .trading-center-block .introduction-content h4 {
        text-align: left;
    }
    /* .trading-center-block .introduction-btn {
        text-align: left;
    } */
    .introduction-content .currency-value {
        width: 20%;
        flex: 0 0 20%;
    }
    .introduction-content .currency-value img {
        max-width: 80px;
    }
    .introduction-content {
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
}

@media screen and (min-width:1024px) {
    body {
        padding-top: 0;
    }
    .content {
        padding-left: 10px;
        padding-right: 15px;
        padding-top: 0;
        padding-bottom: 10px;
    }
    nav {
        background: transparent;
    }
    /*================================================*/
    /* mobile-menu */
    .mobile-menu {
        display: none;
    }
    nav .logo {
        width: 120px;
    }
    nav .content {
        /* max-width: 1200px; */
        margin: 0 auto;
        display: flex;
        flex-direction: unset;
        /* float: right; */
        /* align-items: flex-end; */
        justify-content: end;
    }
    /*================================================*/
    /* web-user-icon */
    nav .web-user-icon {
        display: none;
        align-items: center;
    }
    nav .web-user-icon i {
        color: #6b6b6b;
    }
    nav .web-user-icon .fa-angle-down {
        margin-left: 2px;
        font-size: 20px;
        cursor: pointer;
    }
    .redditList {
        padding-top: 100px;
    }
    /*================================================*/
    /* mobile-link-block */
    .mobile-link-block {
        display: none;
    }
    /*================================================*/
    /* web-link-block */
    .web-link-block {
        display: none;
        position: absolute;
        top: 0px;
        right: 10px;
        padding: 10px 20px 20px;
        background-color: #fff;
        box-shadow: 0 0 10px #414141;
        border-radius: 5px;
        z-index: 999;
    }
    .web-link-block.show {
        display: block;
    }
    .web-link-block .link-block a {
        padding: 10px 0;
    }
    .web-link-block .link-block .btn {
        margin-top: 10px;
    }
    .web-link-block .link-block .btn:hover {
        color: #fff !important;
    }
    .web-pagination-block {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 15px 0 15px 15px;
    }
    .web-pagination-block a {
        width: 78%;
        display: flex;
        align-items: center;
        background: #a0a0a0b5;
        border-radius: 5px;
        min-height: 30px;
        justify-content: center;
        font-size: 12px;
        padding: 6px 10px;
        text-align: center;
        position: relative;
        margin-bottom: 10px;
        transition: all 0.5s ease-in-out;
    }
    .web-pagination-block a:last-child {
        width: 60%;
        border-radius: 5px;
        background: #00000062;
        border: 1px solid #cc3d39;
        color: #cc3d39;
    }
    .web-pagination-block a:hover:last-child {
        width: 60%;
        border-radius: 5px;
        background: #cc3d39;
        border: 1px solid #cc3d39;
        color: #fff;
    }
    .web-pagination-block a:hover {
        width: 82%;
        background: #cc3d39;
        color: #fdef03;
        border-radius: 5px;
    }
    .web-pagination-block a.active {
        width: 82%;
        background: #cc3d39;
        color: #fff;
    }
    /* .web-pagination-block a.active::after {
        content: '';
        position: absolute;
        bottom: -10px;
        right: 0;
        left: 0;
        height: 3px;
        background-color: #cc3d39 !important;
    } */
    /* ================================================ */
    .redditList .bottom-main-block {
        display: flex;
        align-items: stretch;
        padding-bottom: 30px;
        padding-top: 0;
    }
    /* ================================================ */
    /* .web-pagination-block {
        padding-top: 50px;
    } */
    /* ================================================ */
    .redditList .left-block {
        width: 25%;
        padding-top: 0;
        margin-top: 30px;
        padding-right: 15px;
    }
    /* ================================================ */
    /* .stats-info-agileits {
        height: 100%;
    }
 */
    /* ================================================ */
    .redditList .right-block {
        width: 75%;
    }
    /* ================================================ */
    .market-updates {
        margin-top: 30px;
    }
    /* ================================================ */
    .market-update-right {
        width: 65px;
        height: 65px;
    }
    /* ================================================ */
    .redditList .row-block {
        display: flex;
        align-items: stretch;
    }
    /* ================================================ */
    .transaction-item {
        width: calc(25% - 15px);
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 15px;
    }
    /* ================================================ */
    .trading-center {
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }
    .introduction-content {
        /* height: 150px; */
        overflow-y: auto;
    }
    .trading-center-block .introduction-btn {
        margin-top: 5px;
    }
    /* ================================================ */
    /* 資產轉移 */
    .member-list>ul>li:first-child {
        display: flex;
        align-items: center;
    }
    .member-list>ul>li>div:before {
        display: none;
    }
    .button-group {
        width: 100%;
        padding-bottom: 20px;
        display: flex;
        align-items: center;
        margin-bottom: 0;
    }
    .button-group button {
        margin-top: 0;
        width: 110px;
        margin-left: 10px;
    }
    .Signout-button-2 {
        margin-top: 0;
        height: 40px;
    }
    /* .right-button-group {
        float: right;
    } */
    .show-money {
        padding: 0;
    }
    .member-list>ul {
        border: 1px solid #fff;
        border-radius: 5px;
        padding-left: 0;
    }
    .member-list>ul>li {
        display: flex;
        border-bottom: 1px solid #b1b1b1;
        padding: 8px;
        -webkit-align-items: center;
        align-items: center;
        text-align: left;
        margin-bottom: 0;
        border-radius: 0;
    }
    .member-list>ul>li:last-child {
        border-bottom: 1px solid #b1b1b1;
    }
    /* .member-list b {
        color: #fff;
    } */
    .member-list .li-title b {
        font-weight: bold;
    }
    .member-list .Signout-button-2 {
        margin-top: 0;
    }
    /* 資產轉移-表格寬度 */
    .w-10 {
        flex: 10%;
    }
    .w-20 {
        flex: 20%;
    }
    .w-30 {
        flex: 30%;
    }
    .w-40 {
        flex: 40%;
    }
    .w-50 {
        flex: 50%;
    }
    .w-60 {
        flex: 60%;
    }
    .w-70 {
        flex: 70%;
    }
    .w-80 {
        flex: 80%;
    }
    /* ================================================ */
    #accountItem {
        display: flex;
        align-items: center;
    }
    #accountItem a {
        width: 190px;
        margin-right: 15px;
    }
    .introduction-content .currency-value {
        width: 15%;
        padding: 0;
    }
    /* event */
    #event .content-title-block {
        display: flex;
        align-items: center;
        padding: 10px 0;
        justify-content: space-between;
        border-bottom: 1px solid #c5c5c5;
    }
    #event .w-1,
    #event .article .w-1 {
        width: 80%;
    }
    #event .w-2 {
        width: 20%;
    }
    #event .article .click-block {
        display: flex;
        align-items: center;
    }
    #event .article .w-1 .title {
        display: none;
    }
    #event .article .w-1 .text {
        width: 100%;
    }
    .display-flex-block {
        display: block;
        align-items: center;
    }
    .product-item {
        width: 100%;
        /* margin: 0 15px; */
        max-width: 700px;
    }
    .product-item-img {
        height: 280px;
    }
    .content .logo {
        display: none;
    }
}

.title-block p,
.title-block-1 {
    color: #fff;
    font-size: 20px;
}

.label-13XFthDT.bottom-21EGGcaf,
.tradingview-widget-copyright {
    display: none;
}

.tradingview-widget-container {
    background: #ffffff;
    margin-top: 30px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.max_staticcal {
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow: hidden;
    padding: 2.5px;
    position: relative;
    z-index: 1;
}

.max_staticcal:before {
    content: '';
    background: #cc3d39;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 4px;
}

.stats-info-agileits .member-bottom h1 {
    color: #fdef03 !important;
}

.member-bottom {
    background: #cc3d39 !important;
}

.member-bottom .credit {
    color: #fff !important;
    margin-top: 10px;
}

.member-bottom:after {
    background: #252525 !important;
}

.stats-info-agileits .member-bottom h4 {
    color: #fff;
}

@media screen and (min-width: 1024px) {
    .market-updates {
        margin-top: 0;
    }
    .redditList .right-block {
        width: 100%;
    }
    .web-pagination-block a.active {
        width: 82%;
        background: #cc3d39;
        color: #fdef03;
        border-radius: 5px;
    }
    .tradingview-widget-container {
        margin-top: 0;
    }
    .stats-info-agileits {
        margin: 0px auto 15px auto;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .stats-info-agileits .member-image {
        display: none;
    }
    .stats-info-agileits .member-top {
        height: fit-content;
    }
    .trading-center.is_desktop .title-block {
        text-align: center;
    }
    .footer {
        margin-top: 4.15%;
    }
    .stats-info-agileits .member-top,
    .stats-info-agileits .member-bottom {
        width: 100%;
    }
    .stats-info-agileits .member-bottom {
        height: 155px;
    }
    .stats-info-agileits .member-bottom {
        margin-bottom: 15px;
    }
    .stats-info-agileits .member-bottom {
        width: 100%;
        margin-top: 15px;
    }
    .stats-info-agileits .member-bottom h4 {
        font-size: 20px;
    }
    .stats-info-agileits .member-bottom h1 {
        font-size: 26px;
    }
}

.web-pagination-block>* {
    flex: auto;
    max-width: fit-content;
    height: auto;
}

.web-pagination-block {
    height: 90px;
    align-items: center;
    top: 0;
    padding: 10px 0;
    background: rgb(255 255 255 / 81%);
}

.member-icon img {
    max-width: 70px;
    max-height: 50px;
}

.web-pagination-block a:last-child {
    margin-top: 0;
}

.web-pagination-block a {
    margin: 0 10px;
}

.web-pagination-block {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
    background: #373737;
}

.market-update-block {
    background: #f7f7f7;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

.market-update-block:after,
.member-top:after,
.member-bottom:after {
    content: '';
    position: absolute;
    top: 0;
    height: 4px;
    left: 0;
    right: 0;
    background: #cc3d39;
}

.market-updates {
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
}

.member-top,
.member-bottom {
    background: #f7f7f7;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    padding: 10px;
    overflow: hidden;
    border: solid thin #ebebeb;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.redditList .row-block {
    margin-top: 15px;
}

.product-item {
    display: flex;
    max-width: inherit;
    justify-content: space-between;
}

.product-item>* {
    width: 100%;
    flex: auto;
    max-width: calc(50% - 10px);
    height: auto;
    margin-bottom: 0;
}

.input-group p,
.input-group-1 p,
.input-group-2 p,
div[class^="input-group"] {
    margin-bottom: 5px;
}

#warning h4 {
    border-radius: 5px;
}

.input-group-1 img {
    margin-left: 5px;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box>* {
    max-width: 100%;
    width: calc(50% - 15px);
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.member-icon img {
    max-width: 175px;
    max-height: 60px;
}

@media(max-width:1441px) {
    .redditList {
        height: auto;
    }
}

@media(max-width:1200px) {
    .max_staticcal {
        margin-bottom: 40px;
    }
    .introduction-content {
        flex-wrap: wrap;
    }
    .stats-info-agileits .member-bottom {
        margin-top: 15px;
    }
    .market-update-gd {
        width: 100%;
    }
    .content {
        padding-left: 0;
        padding-right: 0;
    }
    .market-updates {
        display: flex;
        flex-wrap: wrap;
    }
}

@media(max-width:1024px) {
    .game-introduction-content01 {
        display: none;
    }
    .product-item {
        flex-wrap: wrap;
    }
    .product-item>* {
        max-width: 100%;
    }
    .product-infomation {
        max-width: calc(100% - 30px);
        margin: auto;
        margin-top: 20px;
    }
}

@media(max-width:768px) {
    .box_right.box_item .tradingview-widget-container {
        top: 0;
    }
    .box_right.box_item {
        margin-top: 20px;
    }
    .box>* {
        max-width: 100%;
        width: 100%;
    }
}